<div class="d-flex justify-content-center mt-4">
  <span class="me-5">*必填欄位</span>
  <span class="ms-4">請輸入你的支出！</span>
</div>
<div class="d-flex justify-content-center mt-5">
  <form action="/records/new" method="post">
    <div class="row g-3 align-items-center mb-4">
      <div class="col-auto">
        <label for="record-name" class="col-form-label">名稱*：</label>
      </div>
      <div class="col-auto">
        <input type="text" id="record-name" name="name" class="form-control" aria-describedby="record name">
      </div>
    </div>
    <div class="row g-3 align-items-center mb-4">
      <div class="col-auto">
        <label for="record-date" class="col-form-label">類別*：</label>
      </div>
      <div class="col-auto">
        <select id="select-sort" class="form-select" name="categoryId">
          <option selected>選取以查看細項</option>
          {{#each category}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row g-3 align-items-center mb-4">
      <div class="col-auto">
        <label for="record-category" class="col-form-label">日期*：</label>
      </div>
      <div class="col-auto">
        <input type="date" id="recordDate" name="date" class="form-control" aria-describedby="record date">
      </div>
    </div>
    <div class="row g-3 align-items-center mb-4">
      <div class="col-auto">
        <label for="record-amount" class="col-form-label">金額*：</label>
      </div>
      <div class="col-auto">
        <input type="number" id="recordAmount" name="amount" class="form-control" aria-describedby="record amount">
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <button id="submit-btn" class="btn btn-success" type="submit">新增支出</button>
      <a href="/" class="btn btn-primary">返回首頁</a>
    </div>
  </form>
</div>
